
# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Build output
# ==========================
dist/
build/

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*
yarn-error.log*

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/*.log

# ==========================
# Temporary files
# ==========================
*.tmp
*.cache